image: Visual Studio 2017
configuration:
  - Release
  - Debug
platform:
  - x86
  - x64
install:
  - cmd: cd C:\Tools\vcpkg
  - cmd: git pull
  - cmd: .\bootstrap-vcpkg.bat
  - cmd: vcpkg install gtest:x86-windows gtest:x64-windows
  - cmd: cd %APPVEYOR_BUILD_FOLDER%
build:
  project: OP2Utility.sln
test_script:
  - echo Current working directory = '%CD%'
  - echo Test exe path = '%APPVEYOR_BUILD_FOLDER%\%PLATFORM%\%CONFIGURATION%\OP2UtilityTest.exe'
  - cd %APPVEYOR_BUILD_FOLDER%\test
  - '%APPVEYOR_BUILD_FOLDER%\%PLATFORM%\%CONFIGURATION%\OP2UtilityTest.exe'
  - cd %APPVEYOR_BUILD_FOLDER%
